<!DOCTYPE html>
<html>
<head>
  <%- include mod/head.ejs %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%- include mod/main_header.ejs %>
    <%- include mod/main_sidebar.ejs %>
    <%- include pages/index_sub.ejs %>
    <%- include mod/copyright.ejs %>
    <%- include mod/config.ejs %>
    <div class="control-sidebar-bg"></div>
  </div>
  <%- include mod/foot.ejs %>
</body>
</html>